@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Nunito+Sans&family=Work+Sans&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
html,
body {
  font-family: "Montserrat";
  color: #fff; }

@media (max-width: 767px) {
  body.lock {
    overflow: hidden; } }

.wrapper {
  min-height: 100vh;
  overflow: hidden; }

.container {
  max-width: 75.0625rem;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 767px) {
    .container {
      max-width: none; } }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 45px;
  z-index: 50; }
  .header.active {
    top: 0;
    padding: 30px 0 0 0; }
    .header.active::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100%;
      height: 80px;
      background: #fff; }
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header__logo {
    margin: 0 auto 0 0;
    position: relative;
    overflow: hidden;
    position: relative;
    z-index: 5; }
  .header__logo img {
    max-width: 100%; }
  @media (max-width: 767px) {
    .header__menu {
      position: fixed;
      overflow: auto;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      width: 100%;
      top: -100%;
      left: 0;
      height: 100%;
      background: #43342f;
      padding: 180px 0px 0px 0px; } }
  .header__menu.active {
    top: 0; }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -10px; }
    @media (max-width: 767px) {
      .header__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0; } }
  .header__list li {
    padding: 0 10px; }
    @media (max-width: 767px) {
      .header__list li {
        padding: 0;
        margin: 0px 0px 40px 0px; }
        .header__list li:last-child {
          margin: 0; } }
  .header__link {
    padding: 10px;
    color: #140e0e;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.33;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .header__link:hover {
      color: #fff;
      font-size: 1.25rem; }
    @media (max-width: 767px) {
      .header__link {
        font-size: 2rem;
        color: #fff; }
        .header__link:hover {
          color: #140e0e;
          font-size: 2.125rem; } }
  .header__burger {
    display: none; }
    @media (max-width: 767px) {
      .header__burger {
        display: block;
        position: relative;
        z-index: 3;
        width: 40px;
        height: 20px; }
        .header__burger::before, .header__burger::after {
          content: "";
          background: #000;
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          -webkit-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
        .header__burger::before {
          top: 0; }
        .header__burger::after {
          bottom: 0; }
        .header__burger span {
          position: absolute;
          background: #000;
          left: 0;
          height: 2px;
          width: 100%;
          top: 9px;
          -webkit-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; } }
    .header__burger.active::before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 9px; }
    .header__burger.active::after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      bottom: 9px; }
    .header__burger.active span {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }

.footer {
  padding: 100px 0 80px;
  background: #43342f; }
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__company {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.18px;
    margin: 0px 0px 27px 0px; }
  .footer__credits {
    font-family: "Nunito Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px; }
  .footer__link {
    display: block;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.07px;
    margin: 0px 0px 5px 0px;
    padding: 5px; }
    .footer__link:hover {
      text-decoration: underline; }

.itemfooter {
  font-family: "Nunito Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  letter-spacing: 0.07px; }
  .itemfooter__email {
    margin: 0px 0px 10px 0px; }

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.fullscreen {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative;
  padding: 170px 0; }
  @media (max-width: 767px) {
    .fullscreen {
      padding: 150px 0 70px; } }
  @media (max-width: 576px) {
    .fullscreen {
      padding: 150px 0 100px; } }
  .fullscreen__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; }
  .fullscreen__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #000; }
  .fullscreen__title {
    font-size: 2.375rem;
    font-weight: 600;
    line-height: 1.18;
    letter-spacing: 0, 02631em;
    margin: 0px 0px 32px 0px; }
    @media (max-width: 576px) {
      .fullscreen__title {
        font-size: 1.875rem; } }
    @media (max-width: 430px) {
      .fullscreen__title {
        font-size: 1.625rem; } }
  .fullscreen__subtitle {
    font-family: "Nunito Sans";
    width: 50%;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: 0.005em;
    margin: 0px 0px 90px 0px; }
    @media (max-width: 767px) {
      .fullscreen__subtitle {
        margin: 0px 0px 60px 0px; } }
    @media (max-width: 576px) {
      .fullscreen__subtitle {
        margin: 0px 0px 60px 0px;
        font-size: 1.125rem;
        width: 80%; } }
    @media (max-width: 430px) {
      .fullscreen__subtitle {
        width: 100%;
        margin: 0px 0px 30px 0px; } }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.btn {
  line-height: 50px;
  width: 180px;
  text-align: center;
  border-radius: 15px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 13px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 0px 5px 0px #fff;
  box-shadow: 0px 0px 5px 0px #fff;
  -webkit-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s; }
  .btn:hover {
    -webkit-box-shadow: 1px 1px 10px 4px #fff;
    box-shadow: 1px 1px 10px 4px #fff;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
  .btn:active {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  @media (max-width: 767px) {
    .btn {
      width: 150px; } }

.about {
  padding: 100px 0; }
  @media (max-width: 1200px) {
    .about {
      padding: 80px 0; } }
  @media (max-width: 767px) {
    .about {
      padding: 60px 0; } }
  @media (max-width: 576px) {
    .about {
      padding: 40px 0; } }
  .about__title {
    margin: 0px 0px 41px 0px; }
  .about__subtitle {
    margin: 0px auto 37px auto; }
  .about__signature {
    text-align: center;
    max-width: 100%; }

.title {
  color: #171717;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.3px; }
  @media (max-width: 430px) {
    .title {
      font-size: 1.625rem; } }

.subtitle {
  width: 51%;
  color: #787878;
  font-family: "Nunito Sans";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08px;
  text-align: center; }
  @media (max-width: 767px) {
    .subtitle {
      width: 100%; } }

.skills {
  position: relative; }
  .skills__container {
    width: 100%;
    height: 100%; }
  .skills__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .skills__content {
    padding: 150px 100px; }
    @media (max-width: 1200px) {
      .skills__content {
        padding: 100px 80px; } }
    @media (max-width: 767px) {
      .skills__content {
        padding: 60px 60px; } }
    @media (max-width: 576px) {
      .skills__content {
        padding: 40px 20px; } }
    @media (max-width: 430px) {
      .skills__content {
        padding: 10px 5px; } }
  .skills__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
  .skills__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .skills__title {
    margin: 0px 0px 39px 0px;
    text-align: left; }
    @media (max-width: 767px) {
      .skills__title {
        font-size: 1.5rem; } }
    @media (max-width: 576px) {
      .skills__title {
        font-size: 1.25rem; } }
    @media (max-width: 430px) {
      .skills__title {
        font-size: 1rem; } }
  .skills__bg {
    z-index: -100;
    width: 100%;
    height: 100%; }

.item__text {
  font-size: 12px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000; }
  @media (max-width: 767px) {
    .item__text {
      font-size: 0.75rem; } }
  @media (max-width: 430px) {
    .item__text {
      font-size: 0.6rem; } }

.item__loading {
  background: #d8d8d8;
  height: 7px;
  margin: 0px 0px 41px 0px; }

.item__ui {
  width: 75%;
  background: #43342f;
  height: 100%; }

.item__web {
  width: 90%;
  background: #43342f;
  height: 100%; }

.item__marketing {
  width: 65%;
  background: #43342f;
  height: 100%; }

.numbers {
  background: #43342f;
  padding: 100px 0; }
  .numbers__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.itemn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .itemn__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .itemn__image {
    margin: 0px 28px 0px 0px; }
  .itemn__number {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    text-transform: uppercase;
    letter-spacing: 0.54px; }
  .itemn__text {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px; }

.work {
  background: #43342f;
  padding: 0px 0px 30px 0px; }
  .work__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }
    @media (max-width: 1100px) {
      .work__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .work__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%; }
    @media (max-width: 1100) {
      .work__column {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%; } }
  .work__btn {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    margin: 30px auto 0;
    font-size: 12px;
    line-height: 50px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .work__btn:hover {
      line-height: 50px;
      -webkit-box-shadow: 1px 1px 5px 3px #fff;
      box-shadow: 1px 1px 5px 3px #fff;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }
    .work__btn:active {
      -webkit-box-shadow: 0px 0px 1px 0px #fff;
      box-shadow: 0px 0px 1px 0px #fff;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }

.item {
  position: relative;
  height: 300px;
  display: block; }
  .item__eyes {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
    transition: all 0.5s ease-in 0s;
    z-index: 2;
    opacity: 0;
    visibility: hidden; }
  .item__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .item:hover .item__eyes {
    opacity: 1;
    visibility: visible; }

.workprocess {
  padding: 100px 0; }
  .workprocess__title {
    margin: 0px 0px 41px 0px; }
  .workprocess__subtitle {
    width: 45%;
    margin: 0 auto 57px; }
  .workprocess__video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 571px;
    position: relative; }
    .workprocess__video:hover .workprocess__play {
      opacity: 1;
      visibility: visible;
      -webkit-transition: all 0.3s ease 0.6s;
      -o-transition: all 0.3s ease 0.6s;
      transition: all 0.3s ease 0.6s; }
  .workprocess__image {
    z-index: -100;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .workprocess__play {
    display: block;
    background: #43342f;
    padding: 30px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .workprocess__play:active {
      padding: 25px; }

.services {
  padding: 100px 0 38px;
  background: #fff; }
  .services__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -35px; }
  .services__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    padding: 0 35px;
    text-align: center;
    margin: 0px 0px 62px 0px; }

.items__image {
  margin: 0px 0px 15px 0px; }

.items__title {
  margin: 0px 0px 5px 0px;
  color: #191919;
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px; }

.items__text {
  color: #787878;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px; }

.testimonials {
  background: #43342f;
  padding: 178px 0px 60px 0px; }
  .testimonials__body {
    width: 87%;
    margin: 0 auto; }
  .testimonials__quote {
    text-align: center;
    margin: 0px 0px 105px 0px; }
  .testimonials__quote p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    font-size: 30px;
    letter-spacing: 0.3px;
    margin: 0px 0px 10px 0px; }
  .testimonials__quote cite {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 1.2px; }
  .testimonials__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 -3px; }
  .testimonials__ball {
    padding: 0 3px; }

.clients {
  padding: 64px 0; }
  .clients__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.needproject {
  background: #f5f5f5;
  padding: 100px 0; }
  .needproject__title {
    margin: 0px 0px 30px 0px; }
  .needproject__subtitle {
    margin: 0 auto 35px;
    width: 47%; }
  .needproject__form {
    width: 47%;
    margin: 0 auto;
    font-family: "Nunito Sans";
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.07px; }
  .needproject__row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px; }
  .needproject__row1 input {
    width: 100%; }
  .needproject__input {
    height: 48px;
    margin: 0px 0px 30px 0px;
    padding: 20px;
    display: block;
    width: 100%;
    color: #43342f; }
    .needproject__input:focus {
      -webkit-box-shadow: 0px 0px 10px 2px #43342f;
      box-shadow: 0px 0px 10px 2px #43342f; }
  .needproject__textarea {
    height: 170px;
    width: 100%;
    margin: 0px 0px 30px 0px;
    padding: 20px;
    color: #43342f;
    resize: none; }
    .needproject__textarea:focus {
      -webkit-box-shadow: 0px 0px 10px 0px #43342f;
      box-shadow: 0px 0px 10px 0px #43342f; }
  .needproject__btn {
    display: block;
    margin: 0 auto;
    background: #43342f;
    border: none; }
    .needproject__btn:active {
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8); }

.row1__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 15px; }
