.header {
	position: absolute
	width: 100%;
	left: 0;
	top: 45px;
	z-index: 50;
	// @media (max-width: 767px) {
	// 	::before {
	// 		content: "";
	// 		position: absolute;
	// 		top: 0;
	// 		left: 0;
	// 		z-index: 3;
	// 		width: 100%;
	// 		height: 100%;
	// 		background: #43342f;
	// 	}
	// }

	&__body {
		display: flex;
		position: relative;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		margin: 0 auto 0 0;
		position: relative;
		overflow: hidden;
		position: relative;
		z-index: 5;
	}

	&__logo img {
		max-width: 100%;
	}

	&__menu {
		@media (max-width: 767px) {
			position: fixed;
			overflow: auto;
			transition: all 0.3s ease 0s;
			width: 100%;
			top: -100%;
			left: 0;
			height: 100%;
			background: #fff;
			padding: 100px 0px 0px 0px;
		}
		&.active {
			top: 0;
		}
	}

	&__list {
		display: flex;
		color: #140e0e;
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		margin: 0 -10px;
		@media (max-width: 767px) {
			display: block;
			margin: 0;
		}
	}

	&__list li {
		padding: 0 10px;
		@media (max-width: 767px) {
			padding: 0;
			margin: 0px 0px 20px 0px;
		}
	}

	&__link {
		padding: 10px;
		color: #140e0e;
		font-size: 15px;
		font-weight: 600;
		line-height: 24px;
		transition: all 0.5s ease 0s;
		&:hover {
			color: #fff;
			font-size: 18px;
		}
		@media (max-width: 767px) {
			font-size: 32px;
		}
	}

	&__btn {
	}

	&__burger {
		display: none;
		@media (max-width: 767px) {
			display: block;
			position: relative;
			z-index: 3;
			width: 40px;
			height: 20px;
			&::before,
			&::after {
				content: "";
				background: #000;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease 0s;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			& span {
				position: absolute;
				background: #000;
				left: 0;
				height: 2px;
				width: 100%;
				top: 9px;
				transition: all 0.3s ease 0s;
			}
		}
		&.active {
			&::before {
				transform: rotate(45deg);
				top: 9px;
			}
			&::after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
			& span {
				transform: scale(0);
			}
		}
	}
}
