//<Mixins>=================================================================================================

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		//Только если меньше контейнера
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type==2 {
		//Только если больше контейнера
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		//Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

//</Mixins>================================================================================================

//<Fonts>==================================================================================================

//<Connect fonts>==========================================================================================

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Nunito+Sans&family=Work+Sans&display=swap");

//</Connect fonts>==========================================================================================

//<Standard font>===========================================================================================

$fontfamaly: "Montserrat";

//</Standard font>==========================================================================================

//</Fonts>==================================================================================================

//<Variables>===========================================================================================

$maxWidthContainer: 75.0625rem;
$maxWidth: 200px;

//</Variables>==========================================================================================

//<Zeroing and Common parameters>===========================================================================

@import "_nullstyle";

html,
body {
	font-family: $fontfamaly;
	color: #fff;
}

body {
	@media (max-width: 767px) {
		&.lock {
			overflow: hidden;
		}
	}
}

//</Zeroing and Common Parameters>===========================================================================

//<Wrapper>==================================================================================================

.wrapper {
	min-height: 100vh;
}

//</Wrapper>=================================================================================================

//<Main grid>================================================================================================

.container {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0 15px;
	overflow: hidden;
}

//</Main grid>===============================================================================================

//<Connecting page styles and elements>=====================================================================

@import "_ibg";
@import "_header";
@import "_footer";

//</Connecting page styles and elements>=====================================================================

//===========================================================================================================

//<Main block>==============================================================================================

//<Fullscreen>==============================================================================================

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.fullscreen {
	flex: 1 0 100%;
	position: relative;
	padding: 170px 0;
	@media (max-width: 992px) {
	}
	@media (max-width: 767px) {
		padding: 150px 0 70px;
	}
	@media (max-width: 576px) {
		padding: 150px 0 100px;
	}
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
	&__content {
		display: flex;
		flex-direction: column;
		color: #000;
	}

	&__title {
		font-size: 2.375rem;
		font-weight: 600;
		line-height: 1.18;
		letter-spacing: 0, 02631em;
		margin: 0px 0px 32px 0px;
		@media (max-width: 576px) {
			font-size: 1.875rem;
		}
		@media (max-width: 430px) {
			font-size: 1.625rem;
		}
	}

	&__subtitle {
		font-family: "Nunito Sans";
		width: 50%;
		font-size: 1.5rem;
		color: rgba(0, 0, 0, 0.8);
		font-weight: 500;
		line-height: 1.56;
		letter-spacing: 0.005em;
		margin: 0px 0px 90px 0px;
		@media (max-width: 767px) {
			margin: 0px 0px 60px 0px;
		}
		@media (max-width: 576px) {
			margin: 0px 0px 60px 0px;
			font-size: 1.125rem;
			width: 80%;
		}
		@media (max-width: 430px) {
			width: 100%;
			margin: 0px 0px 30px 0px;
		}
	}
}

.content {
	flex: 1 1 auto;
}

.btn {
	line-height: 50px;
	width: 180px;
	text-align: center;
	border-radius: 15px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	font-size: 13px;
	border: 2px solid #fff;
	box-shadow: 0px 0px 5px 0px #fff;
	transition: all 0.5s ease-in 0s;
	&:hover {
		box-shadow: 1px 1px 10px 4px #fff;
		transition: all 0.5s ease 0s;
	}
	&:active {
		transform: scale(0.8);
	}
	@media (max-width: 767px) {
		width: 150px;
	}
	@media (max-width: 576px) {
	}
	@media (max-width: 430px) {
	}
}

//<Fullscreen>==============================================================================================

//<About>====================================================================================================

.about {
	padding: 100px 0;
	@media (max-width: 1200px) {
		padding: 80px 0;
	}
	@media (max-width: 767px) {
		padding: 60px 0;
	}
	@media (max-width: 576px) {
		padding: 40px 0;
	}
	&__title {
		margin: 0px 0px 41px 0px;
	}

	&__subtitle {
		margin: 0px auto 37px auto;
	}

	&__signature {
		text-align: center;
		max-width: 100%;
	}
}

.title {
	color: #171717;
	font-size: 1.875rem;
	font-weight: 600;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.3px;
	@media (max-width: 430px) {
		font-size: 1.625rem;
	}
}

.subtitle {
	width: 51%;
	color: #787878;
	font-family: "Nunito Sans";
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.08px;
	text-align: center;
	@media (max-width: 767px) {
		width: 100%;
	}
}

//</About>====================================================================================================

//<Skills>====================================================================================================

.skills {
	position: relative;
	&__container {
		width: 100%;
		height: 100%;
	}
	&__body {
		display: flex;
	}
	&__content {
		padding: 150px 100px;
		@media (max-width: 1200px) {
			padding: 100px 80px;
		}
		@media (max-width: 767px) {
			padding: 60px 60px;
		}
		@media (max-width: 576px) {
			padding: 40px 20px;
		}
		@media (max-width: 430px) {
			padding: 10px 5px;
		}
	}

	&__items {
		flex: 0 1 50%;
	}

	&__item {
		flex: 0 1 50%;
	}

	&__row {
		display: flex;
		flex-direction: column;
	}

	&__title {
		margin: 0px 0px 39px 0px;
		text-align: left;
		@media (max-width: 767px) {
			font-size: 1.5rem;
		}
		@media (max-width: 576px) {
			font-size: 1.25rem;
		}
		@media (max-width: 430px) {
			font-size: 1rem;
		}
	}
	&__bg {
		z-index: -100;
		width: 100%;
		height: 100%;
	}
}

.itemss {
	&__text {
		font-size: 12px;
		line-height: 30px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #000000;
		@media (max-width: 767px) {
			font-size: 0.75rem;
		}
		@media (max-width: 430px) {
			font-size: 0.6rem;
		}
	}

	&__loading {
		background: #d8d8d8;
		height: 7px;
		margin: 0px 0px 41px 0px;
	}
	&__ui {
		width: 75%;
		background: #43342f;
		height: 100%;
	}

	&__web {
		width: 90%;
		background: #43342f;
		height: 100%;
	}

	&__marketing {
		width: 65%;
		background: #43342f;
		height: 100%;
	}
}

//</Skills>=====================================================================================================

//<Numbers>=====================================================================================================

.numbers {
	background: #43342f;
	padding: 100px 0;
	&__row {
		display: flex;
		margin: 0 -15px;
		justify-content: center;
		@media (max-width: 767px) {
			flex-wrap: wrap;
			margin: 0 auto;
		}
		@media (max-width: 576px) {
		}
	}
	&__item {
		padding: 0 15px;
	}
	@media (max-width: 1200px) {
		padding: 80px 0;
	}
	@media (max-width: 767px) {
		padding: 60px 0;
	}
	@media (max-width: 576px) {
		padding: 30px 0 5px;
	}
}

.itemn {
	display: flex;
	@media (max-width: 767px) {
		flex: 1 1 50%;
		justify-content: center;
		margin: 0 0 15px 0;
		padding: 0;
		&:nth-child(3) {
			margin-left: -5px;
		}
		&:nth-child(4) {
			margin-left: -10px;
		}
	}
	@media (max-width: 576px) {
		flex: 1 1 100%;
		margin-bottom: 30px;
		&:nth-child(3) {
			margin-left: -5px;
		}
		&:nth-child(2) {
			margin-left: -35px;
		}
		&:nth-child(4) {
			margin-left: -40px;
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
	}
	&__image {
		margin: 0px 28px 0px 0px;
		max-width: 100%;
		align-self: center;
	}

	&__number {
		color: #fff;
		font-size: 1.125rem;
		font-weight: 600;
		margin: 0px 0px 10px 0px;
		text-transform: uppercase;
		letter-spacing: 0.54px;
	}

	&__text {
		color: #fff;
		font-size: 0.75rem;
		font-weight: 600;
		line-height: 30px;
		text-transform: uppercase;
		letter-spacing: 1.2px;
	}
}

//</Numbers>=====================================================================================================

//<Work>=========================================================================================================

.work {
	background: #43342f;
	padding: 0px 0px 40px 0px;
	@media (max-width: 1200px) {
		padding: 0px 0px 30px 0px;
	}
	@media (max-width: 576px) {
		padding: 0px 0px 20px 0px;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
	}
	&__column {
		flex: 1 1 25%;
		@media (max-width: 767px) {
			flex: 1 1 50%;
		}
		@media (max-width: 576px) {
			flex: 1 1 100%;
		}
	}

	&__item {
	}

	&__body {
	}

	&__btn {
		border: none;
		box-shadow: none;
		display: block;
		margin: 40px auto 0;
		font-size: 0.75rem;
		line-height: 4.16;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #fff;
		transition: all 0.5s ease 0s;
		&:hover {
			line-height: 4.16;
			box-shadow: 1px 1px 5px 3px #fff;
			transition: all 0.5s ease 0s;
		}
		&:active {
			box-shadow: 0px 0px 1px 0px #fff;
			transition: all 0.5s ease 0s;
		}
		@media (max-width: 1200px) {
			margin: 30px 0px 0px 0px;
		}
		@media (max-width: 767px) {
			&:hover {
				line-height: 3.5;
			}
			font-size: 0.7rem;
		}
		@media (max-width: 767px) {
			margin: 20px 0px 0px 0px;
			&:hover {
				line-height: 3;
			}
		}
	}
}

.item {
	position: relative;
	padding-top: 100%;
	display: block;
	&__eyes {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(0, 0, 0, 0.6);
		transition: all 0.5s ease-in 0s;
		z-index: 2;
		opacity: 0;
		visibility: hidden;
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&:hover {
		.item__eyes {
			opacity: 1;
			visibility: visible;
		}
	}
}

//</Work>=========================================================================================================

//<Workprocess>===================================================================================================

.workprocess {
	padding: 100px 0 20px 0;
	@media (max-width: 1200px) {
		padding: 60px 0 20px 0;
	}
	@media (max-width: 767px) {
		padding: 40px 0 20px 0;
	}
	@media (max-width: 576px) {
		padding: 30px 0 10px 0;
	}
	&__title {
		margin: 0px 0px 41px 0px;
		@media (max-width: 1200px) {
			margin: 0px 0px 30px 0px;
		}
		@media (max-width: 767px) {
			margin: 0px 0px 15px 0px;
		}
		@media (max-width: 576px) {
			margin: 0px 0px 5px 0px;
		}
	}

	&__subtitle {
		text-align: center;
		margin: 0 auto 57px;
	}

	&__video {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 50%;
		position: relative;
		&:hover {
			.workprocess__play {
				opacity: 1;
				visibility: visible;
				transition: all 0.3s ease 0.6s;
			}
		}
	}

	&__image {
		z-index: -100;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__play {
		display: block;
		background: #43342f;
		margin-top: -50%;
		padding: 30px;
		border-radius: 50%;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s ease 0s;
		&:active {
			padding: 25px;
		}
		@media (max-width: 767px) {
			padding: 25px;
			&:active {
				padding: 20px;
			}
		}
		@media (max-width: 576px) {
			padding: 20px;
			&:active {
				padding: 17px;
			}
		}
	}
}

//</Workprocess>===================================================================================================

//<Services>=======================================================================================================

.services {
	padding: 100px 0 38px;
	background: #fff;
	@media (max-width: 1200px) {
		padding: 90px 0 18px;
	}
	@media (max-width: 767px) {
		padding: 60px 0 5px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -35px;
	}

	&__item {
		flex: 1 1 25%;
		padding: 0 35px;
		text-align: center;
		margin: 0px 0px 62px 0px;
		@media (max-width: 1200px) {
		}
		@media (max-width: 767px) {
			flex: 1 1 50%;
		}
		@media (max-width: 430px) {
			flex: 1 1 100%;
		}
	}
}

.items {
	&__image {
		margin: 0px 0px 15px 0px;
		@media (max-width: 767px) {
			margin: 0px 0px 13px 0px;
		}
	}
	&__title {
		margin: 0px 0px 5px 0px;
		color: #191919;
		font-size: 0.85rem;
		font-weight: 600;
		line-height: 2.5;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		@media (max-width: 767px) {
			margin: 0px 0px 0px 0px;
		}
	}

	&__text {
		color: #787878;
		font-family: "Nunito Sans";
		font-size: 1.125rem;
		font-weight: 400;
		line-height: 1.825;
		letter-spacing: 0.08px;
	}
}

//</Services>=======================================================================================================

//<Testimonials>=======================================================================================================

.testimonials {
	background: #43342f;
	padding: 178px 0px;
	@media (max-width: 1200px) {
		padding: 150px 0;
	}
	@media (max-width: 767px) {
		padding: 100px 0px;
	}
	@media (max-width: 576px) {
		padding: 70px 0px 40px 0px;
	}
	&__body {
		margin: 0 auto;
	}

	&__quote {
		text-align: center;
	}
	&__quote p {
		color: #ffffff;
		font-family: Montserrat;
		font-size: 2rem;
		font-weight: 500;
		line-height: 1.25;
		letter-spacing: 0.3px;
		margin: 0px 0px 10px 0px;
		@media (max-width: 767px) {
			font-size: 1.5rem;
		}
		@media (max-width: 576px) {
			font-size: 1.2rem;
		}
		@media (max-width: 430px) {
			font-size: 1rem;
		}
	}

	&__quote cite {
		color: #ffffff;
		font-family: Montserrat;
		font-size: 0.85rem;
		font-weight: 500;
		line-height: 3;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		@media (max-width: 767px) {
			font-size: 0.725rem;
		}
	}
}

//</Testimonialss>=======================================================================================================

//<Clientss>=============================================================================================================

.clients {
	padding: 64px 0;
	@media (max-width: 767px) {
		padding: 74px 0 0px;
	}
	@media (max-width: 576px) {
		padding: 44px 0 0px;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		@media (max-width: 767px) {
		}
	}
	&__image {
		display: flex;
		@media (max-width: 767px) {
			justify-content: center;
			align-items: center;
			flex: 1 1 50%;
			margin: 0px 0px 30px 0px;
			&:last-child {
				transform: translate(0, -300%);
				margin: 0;
			}
			&:nth-child(3) {
				transform: translate(23%, 0);
			}
			&:nth-child(4) {
				transform: translate(-23%, 0);
			}
		}
		@media (max-width: 576px) {
			flex: 1 1 100%;
			&:last-child {
				transform: translate(0, 0);
				margin: 0 0 50px 0;
			}
			&:nth-child(3) {
				transform: translate(0, 0);
			}
			&:nth-child(4) {
				transform: translate(0, 0);
			}
		}
	}
	&__image img {
		max-width: 100%;
	}
}

//</Clientss>=============================================================================================================

//<Needproject>=============================================================================================================

.needproject {
	background: #f5f5f5;
	padding: 100px 0;
	@media (max-width: 1200px) {
		padding: 80px 0;
	}
	@media (max-width: 767px) {
		padding: 60px 0;
	}
	@media (max-width: 576px) {
		padding: 40px 0;
	}
	@media (max-width: 430px) {
		padding: 30px 0;
	}
	&__title {
		margin: 0px 0px 30px 0px;
		@media (max-width: 767px) {
			margin: 0px 0px 20px 0px;
		}
		@media (max-width: 576px) {
			margin: 0px 0px 15px 0px;
		}
	}

	&__subtitle {
		margin: 0 auto 35px;
		width: 47%;
		@media (max-width: 576px) {
			width: 80%;
		}
		@media (max-width: 430px) {
			width: 100%;
		}
	}

	&__form {
		width: 47%;
		margin: 0 auto;
		font-family: "Nunito Sans";
		font-size: 0.9375rem;
		line-height: 1.5;
		letter-spacing: 0.07px;
		@media (max-width: 576px) {
			width: 80%;
		}
		@media (max-width: 430px) {
			width: 100%;
		}
	}
	&__row1 {
		display: flex;
		margin: 0 -15px;
	}
	&__row1 input {
		width: 100%;
	}
	&__input {
		height: 48px;
		margin: 0px 0px 30px 0px;
		padding: 20px;
		display: block;
		width: 100%;
		color: #43342f;
		&:focus {
			box-shadow: 0px 0px 10px 2px #43342f;
		}
	}
	&__textarea {
		height: 170px;
		width: 100%;
		margin: 0px 0px 30px 0px;
		padding: 20px;
		color: #43342f;
		resize: none;
		&:focus {
			box-shadow: 0px 0px 10px 0px #43342f;
		}
	}
	&__btn {
		display: block;
		margin: 0 auto;
		background: #43342f;
		border: none;
		line-height: 50px;
		width: 180px;
		text-align: center;
		border-radius: 15px;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		font-size: 13px;
		border: 2px solid #fff;
		box-shadow: 0px 0px 5px 0px #fff;
		transition: all 0.5s ease-in 0s;
		&:active {
			transform: scale(0.8);
		}
		@media (max-width: 767px) {
			line-height: 4;
			width: 150px;
		}
		@media (max-width: 576px) {
			font-size: 0.85rem;
		}
		@media (max-width: 430px) {
			line-height: 3.5;
			width: 140px;
			font-size: 0.75rem;
		}
	}
}

.row1__item {
	flex: 1 1 auto;
	padding: 0 15px;
}
//<Clientss>=============================================================================================================

//</Main block>==============================================================================================

//============================================================================================================
