//<Mixins>=================================================================================================

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		//Только если меньше контейнера
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type==2 {
		//Только если больше контейнера
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		//Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

//</Mixins>================================================================================================

//<Fonts>==================================================================================================

//<Connect fonts>==========================================================================================

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Nunito+Sans&family=Work+Sans&display=swap");

//</Connect fonts>==========================================================================================

//<Standard font>===========================================================================================

$fontfamaly: "Montserrat";

//</Standard font>==========================================================================================

//</Fonts>==================================================================================================

//<Variables>===========================================================================================

$maxWidthContainer: 75.0625rem;
$maxWidth: 200px;

//</Variables>==========================================================================================

//<Zeroing and Common parameters>===========================================================================

@import "_nullstyle";

html,
body {
	font-family: $fontfamaly;
	color: #fff;
}

body {
	@media (max-width: 767px) {
		&.lock {
			overflow: hidden;
		}
	}
}

//</Zeroing and Common Parameters>===========================================================================

//<Wrapper>==================================================================================================

.wrapper {
	min-height: 100vh;
	overflow: hidden;
}

//</Wrapper>=================================================================================================

//<Main grid>================================================================================================

.container {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0 15px;
}

//</Main grid>===============================================================================================

//<Connecting page styles and elements>=====================================================================

@import "_ibg";
@import "_header";
@import "_footer";

//</Connecting page styles and elements>=====================================================================

//===========================================================================================================

//<Main block>==============================================================================================

//<Main-screen>==============================================================================================

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.fullscreen {
	flex: 1 0 100%;
	position: relative;
	padding: 170px 0px 0px 0px;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
	&__text {
		display: flex;
		flex-direction: column;
		width: 50%;
		color: #000;
	}

	&__title {
		font-size: 38px;
		font-weight: 600;
		line-height: 48px;
		letter-spacing: 0.38px;
		margin: 0px 0px 32px 0px;
	}

	&__subtitle {
		font-family: "Nunito Sans";
		font-size: 18px;
		color: rgba(0, 0, 0, 0.8);
		font-weight: 600;
		line-height: 28px;
		letter-spacing: 0.09px;
		margin: 0px 0px 90px 0px;
	}
}

.content {
	flex: 1 1 auto;
}

.btn {
	line-height: 50px;
	width: 180px;
	text-align: center;
	border-radius: 15px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	font-size: 13px;
	border: 2px solid #fff;
	box-shadow: 0px 0px 5px 0px #fff;
	transition: all 0.5s ease-in 0s;
	&:hover {
		box-shadow: 1px 1px 10px 4px #fff;
		transition: all 0.5s ease 0s;
	}
	&:active {
		transform: scale(0.8);
	}
}

//<Main-screen>==============================================================================================

//<About>====================================================================================================

.about {
	padding: 100px 0;
	&__title {
		margin: 0px 0px 41px 0px;
	}

	&__subtitle {
		margin: 0px auto 37px auto;
	}

	&__signature {
		text-align: center;
		max-width: 100%;
	}
}

.title {
	color: #171717;
	font-size: 30px;
	font-weight: 600;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.3px;
}

.subtitle {
	width: 51%;
	color: #787878;
	font-family: "Nunito Sans";
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.08px;
	text-align: center;
}

//</About>====================================================================================================

//<Skills>====================================================================================================

.skills {
	position: relative;
	&__container {
		width: 100%;
		height: 100%;
	}
	&__body {
		display: flex;
	}
	&__content {
		padding: 150px 100px;
	}

	&__item {
		flex: 0 1 50%;
	}
	&__row {
		display: flex;
		flex-direction: column;
	}

	&__title {
		margin: 0px 0px 39px 0px;
		text-align: left;
	}
	&__bg {
		z-index: -100;
		width: 100%;
		height: 100%;
	}
}

.item {
	&__text {
		font-size: 12px;
		line-height: 30px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #000000;
	}

	&__loading {
		background: #d8d8d8;
		height: 7px;
		margin: 0px 0px 41px 0px;
	}

	&__loading:last-child {
		margin: 0px;
	}

	&__ui {
		width: 75%;
		background: #43342f;
		height: 100%;
	}

	&__web {
		width: 90%;
		background: #43342f;
		height: 100%;
	}

	&__marketing {
		width: 65%;
		background: #43342f;
		height: 100%;
	}
}

//</Skills>=====================================================================================================

//<Numbers>=====================================================================================================

.numbers {
	background: #43342f;
	padding: 100px 0;
	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item {
	}
}

.itemn {
	display: flex;
	flex: 0 0 25%;
	justify-content: center;
	align-items: center;
	&__body {
		display: flex;
		flex-direction: column;
	}
	&__image {
		margin: 0px 28px 0px 0px;
	}

	&__number {
		color: #fff;
		font-size: 18px;
		font-weight: 600;
		margin: 0px 0px 10px 0px;
		text-transform: uppercase;
		letter-spacing: 0.54px;
	}

	&__text {
		color: #fff;
		font-size: 12px;
		font-weight: 600;
		line-height: 30px;
		text-transform: uppercase;
		letter-spacing: 1.2px;
	}
}

//</Numbers>=====================================================================================================

//<Work>=========================================================================================================

.work {
	background: #43342f;
	padding: 0px 0px 30px 0px;
	&__row {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		@media (max-width: 1100px) {
			flex-direction: column;
		}
	}

	&__column {
		flex: 0 1 25%;
		@media (max-width: 1100) {
			flex: 0 1 50%;
		}
	}

	&__item {
	}

	&__body {
	}

	&__btn {
		border: none;
		box-shadow: none;
		display: block;
		margin: 30px auto 0;
		font-size: 12px;
		line-height: 50px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #fff;
		transition: all 0.5s ease 0s;
		&:hover {
			line-height: 50px;
			box-shadow: 1px 1px 5px 3px #fff;
			transition: all 0.5s ease 0s;
		}
		&:active {
			box-shadow: 0px 0px 1px 0px #fff;
			transition: all 0.5s ease 0s;
		}
	}
}

.item {
	position: relative;
	height: 300px;
	display: block;
	&__eyes {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(0, 0, 0, 0.6);
		transition: all 0.5s ease-in 0s;
		z-index: 2;
		opacity: 0;
		visibility: hidden;
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&:hover {
		.item__eyes {
			opacity: 1;
			visibility: visible;
		}
	}
}

//</Work>=========================================================================================================

//<Workprocess>===================================================================================================

.workprocess {
	padding: 100px 0;
	&__title {
		margin: 0px 0px 41px 0px;
	}

	&__subtitle {
		width: 45%;
		margin: 0 auto 57px;
	}

	&__video {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 571px;
		position: relative;
		&:hover {
			.workprocess__play {
				opacity: 1;
				visibility: visible;
				transition: all 0.3s ease 0.6s;
			}
		}
	}

	&__image {
		z-index: -100;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__play {
		display: block;
		background: #43342f;
		padding: 30px;
		border-radius: 50%;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s ease 0s;
		&:active {
			padding: 25px;
		}
	}
}

//</Workprocess>===================================================================================================

//<Services>=======================================================================================================

.services {
	padding: 100px 0 38px;
	background: #fff;
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -35px;
	}

	&__item {
		flex: 1 1 25%;
		padding: 0 35px;
		text-align: center;
		margin: 0px 0px 62px 0px;
	}
}

.items {
	&__image {
		margin: 0px 0px 15px 0px;
	}

	&__title {
		margin: 0px 0px 5px 0px;
		color: #191919;
		font-size: 12px;
		font-weight: 600;
		line-height: 30px;
		text-transform: uppercase;
		letter-spacing: 1.2px;
	}

	&__text {
		color: #787878;
		font-family: "Nunito Sans";
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.08px;
	}
}

//</Services>=======================================================================================================

//<Testimonials>=======================================================================================================

.testimonials {
	background: #43342f;
	padding: 178px 0px 60px 0px;
	&__body {
		width: 87%;
		margin: 0 auto;
	}

	&__quote {
		text-align: center;
		margin: 0px 0px 105px 0px;
	}
	&__quote p {
		color: #ffffff;
		font-family: Montserrat;
		font-size: 24px;
		font-weight: 500;
		line-height: 36px;
		font-size: 30px;
		letter-spacing: 0.3px;
		margin: 0px 0px 10px 0px;
	}

	&__quote cite {
		color: #ffffff;
		font-family: Montserrat;
		font-size: 12px;
		font-weight: 500;
		line-height: 36px;
		text-transform: uppercase;
		letter-spacing: 1.2px;
	}
	&__dotted {
	}

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 -3px;
	}

	&__ball {
		padding: 0 3px;
	}
}

//</Testimonialss>=======================================================================================================

//<Clientss>=============================================================================================================

.clients {
	padding: 64px 0;
	&__row {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	&__image {
	}
}

//</Clientss>=============================================================================================================

//<Needproject>=============================================================================================================

.needproject {
	background: #f5f5f5;
	padding: 100px 0;
	&__title {
		margin: 0px 0px 30px 0px;
	}

	&__subtitle {
		margin: 0 auto 35px;
		width: 47%;
	}

	&__form {
		width: 47%;
		margin: 0 auto;
		font-family: "Nunito Sans";
		font-size: 15px;
		line-height: 24px;
		letter-spacing: 0.07px;
	}

	&__row1 {
		display: flex;
		margin: 0 -15px;
	}
	&__row1 input {
		width: 100%;
	}
	&__input {
		height: 48px;
		margin: 0px 0px 30px 0px;
		padding: 20px;
		display: block;
		width: 100%;
		color: #43342f;
		&:focus {
			box-shadow: 0px 0px 10px 2px #43342f;
		}
	}
	&__textarea {
		height: 170px;
		width: 100%;
		margin: 0px 0px 30px 0px;
		padding: 20px;
		color: #43342f;
		resize: none;
		&:focus {
			box-shadow: 0px 0px 10px 0px #43342f;
		}
	}
	&__btn {
		display: block;
		margin: 0 auto;
		background: #43342f;
		border: none;
		&:active {
			transform: scale(0.8);
		}
	}
}

.row1__item {
	flex: 1 1 auto;
	padding: 0 15px;
}
//<Clientss>=============================================================================================================

//</Main block>==============================================================================================

//============================================================================================================
