.menu {
	display: flex;
	margin: 0 -10px;
	&__item {
		padding: 0 10px;
		color: #140e0e;
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		transition: all 0.5s ease 0s;
		&:hover {
			color: #fff;
		}
	}
}

.btn {
	line-height: 50px;
	width: 180px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	font-size: 13px;
	border: 2px solid #fff;
}

.header {
	position: absolute;
	width: 100%;
	z-index: 50;
	&__body {
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0px 0px 180px 0px;
	}

	&__logo {
	}

	&__menu {
	}

	&__text {
		display: flex;
		flex-direction: column;
		margin: 0 0 0 auto;
		width: 50%;
		color: #fff;
	}

	&__title {
		font-size: 38px;
		font-weight: 600;
		line-height: 48px;
		letter-spacing: 0.38px;
		margin: 0px 0px 32px 0px;
	}

	&__subtitle {
		font-family: "Nunito Sans";
		font-size: 18px;
		font-weight: 600;
		line-height: 28px;
		letter-spacing: 0.09px;
		margin: 0px 0px 90px 0px;
	}

	&__btn {
		box-shadow: 2px 2px 7px 3px #fff;
		&:hover {
			box-shadow: 2px 2px 10px 4px #fff;
			transition: all 0.5s ease 0.1s;
		}
		&:active {
			box-shadow: 2px 1px 2px 2px #fff;
			transition: all 0.5s ease 0.1s;
		}
	}
}
