.menu {
	display: flex;
	&__item {
		color: #140e0e;
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
	}
	&__item a {
		padding: 0 20px;
		color: #140e0e;
		font-size: 15px;
		font-weight: 600;
		line-height: 24px;
		transition: all 0.5s ease 0s;
		&:hover {
			color: #fff;
			font-size: 18px;
		}
	}
}

.header {
	position: absolute;
	width: 100%;
	top: 45px;
	z-index: 50;
	&__body {
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0px 0px 150px 0px;
	}

	&__logo {
	}

	&__menu {
	}

	&__text {
		display: flex;
		flex-direction: column;
		width: 50%;
		color: #000;
	}

	&__title {
		font-size: 38px;
		font-weight: 600;
		line-height: 48px;
		letter-spacing: 0.38px;
		margin: 0px 0px 32px 0px;
	}

	&__subtitle {
		font-family: "Nunito Sans";
		font-size: 18px;
		color: rgba(0, 0, 0, 0.8);
		font-weight: 600;
		line-height: 28px;
		letter-spacing: 0.09px;
		margin: 0px 0px 90px 0px;
	}

	&__btn {
	}
}
